.modal.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    transform: scale(0);
}

.modal_more_info_content {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.modal_more_info_content h2 {
    margin-left: 10%;
}

.guitar_info {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

button {
    cursor: pointer;
        border: none;
        border-radius: 2px;
        margin-right: 10px;
        /* Increase the margin-right to increase the distance between buttons */
        padding: 8px 12px;
        /* Adjust the padding values to change the button size */
        font-size: 14px;
        /* Adjust the font-size to change the button text size */
}
.modal_buy_button {
    color: white;
   
}

.load_comments {
    color: white;
    background-color: #C1C1C1;
}
.close_comments {
    color: white;
    background-color: rgb(210, 95, 95);
}
.all_comments {
    overflow-y: auto;
    max-height: 100px;
}