
.MainHeaderBlock {
    position: sticky;
    top: 0;
    z-index: 100;
    /* Ensure the header appears above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(119, 119, 119);
    margin-bottom: 80px;
}

/* logo on left side of the header*/
.header_main_logo{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


/* icons on right side of the header*/
.header_icons{
    cursor: pointer;
    margin-right: 20px;
}
.basket_button{
    padding: 10px;
}

/* middle part in the header*/
.header_text_link{
    margin-left: 20px;
}
nav .header_text_link:visited{
    color: rgba(0, 0, 0, 1);

}
nav .header_text_link{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.image_header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    /* Ensure the container takes full height */
}

.image_header img {
    margin-left: auto;
    margin-top: -50px;
    z-index: 200;
    /* Move the image to the right side of the container */
}