.container {
    display: flex;
}

.filter_block {
    flex: 20%;
    
}

.guitar_catalog {
    flex: 80%;
}
.guitar_catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns with equal width */
    grid-gap: 20px;
    /* Gap between grid items */
}

.guitar_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #DDDADA;
    padding-bottom: 20px;
}

.guitar_image {

    height: auto;
    /* Maintain aspect ratio */
}


/* buttons desing */
.guitar_buttons {
    margin-left: 20px;
}

.guitar_buttons button {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-right: 10px;
    /* Increase the margin-right to increase the distance between buttons */
    padding: 8px 12px;
    /* Adjust the padding values to change the button size */
    font-size: 14px;
    /* Adjust the font-size to change the button text size */
}

.button_more_info {
    color: white;
    background: #C1C1C1;
    
}

.button_buy {
    background-color: orange;
    color: white;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    transform: scale(0);
}

.modal_content {
    background-color: white;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.modal_content h2 {
    margin-left: 30%;
}

